header {
    height: 75px;
    display: flex;
    align-items: center;
    margin: 7 0 7 0;
    padding: 0 20;
    justify-content: space-around;
    list-style-type: none;
    width: 96%;
  }
  
  * {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 0 25 0 0;
    font-size: 17px;
    font-family: sans-serif;
  }
  
  .search {
    border-style: solid;
    border-radius: 100px;
    padding: 18 280 18 50;
    margin-right: 10px;
    border-width: 1px;
    background-color: rgb(246, 246, 246);
  }
  
  .log-in {
    padding: 14 22;
    background-color: white;
    border-width: 1px;
    margin: 0 5 0 30;
    color: rgb(47, 47, 47);
  }
  
  .sign-up {
    padding: 14 20;
    margin: 0 5;
    color: white;
    background-color: rgb(56, 56, 56);
    border-style: none;
  }
  
  .globe {
    border-style: solid;
    border-width: 1px;
    margin: 5 15 0 5;
    padding: 13 15;
  }
  
  .udemy-1 {
    width: 100%;
  }
  
  .set {
    background-color: rgba(216, 232, 242, 0.197);
    margin: 60 0 80 0;
  }
  
  .sentence-1 {
    padding-top: 80px;
    padding-left: 350px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(108, 108, 108);
    font-size: 1.2rem;
    margin-bottom: 27px;
  }
  
  .icons {
    list-style-type: none;
    justify-content: space-around;
    padding: 0 60 80 60;
    margin-bottom: 0px;
  }
  
  h1 {
    font-size: 47px;
    padding-left: 30px;
    color: rgb(51, 51, 51);
  }
  
  .set-4 {
    font-size: 20px;
    padding-left: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .sentence-2 {
    color: rgb(63, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-bottom: 5px;
  }
  
  .content-left2 {
    list-style-type: none;
    text-align: left;
    padding-top: 10px;
  }
  
  .location {
    font-size: 18px;
    color: rgb(110, 110, 110);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .location-1 {
    font-size: 18px;
    margin-left: 0px;
    color: rgb(48, 48, 48);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .set-5 {
    border-style: solid;
    border-width: 1px;
    margin: 0px 20px 0px 30px;
    align-items: center;
    padding-left: 40px;
    border-color: rgb(216, 216, 216);
  }
  
  .sentence-3 {
    font-size: 20px;
    padding-right: 400px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
  }
  
  .Explore-python {
    padding: 12 18;
    border-width: 1px;
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(43, 43, 43);
    margin-bottom: 15px;
  }
  
  .set-6 {
    padding: 30 0px;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    justify-content: space-around;
  }
  
  .sentence-4 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  
  
  .ratings {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: white;
    font-size: 18px;
    padding-left: 0px;
  }
  
  .rate {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border: none;
    background-color: white;
    font-size: 17px;
    padding-left: 0px;
    color: rgb(161, 160, 160);
  }
  
  .coach-name {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: white;
    font-size: 17px;
    padding-left: 0px;
    color: rgb(98, 98, 98);
  }
  
  .rate-2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: white;
    font-size: 17px;
    padding-left: 0px;
  }
  
  h2 {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(39, 39, 39);
    padding-left: 0px;
    padding-top: 15px;
  }
  
  h3 {
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(39, 39, 39);
    padding-left: 25px;
  }
  
  .set-7 {
    background-color: rgba(218, 218, 225, 0.211);
    margin-top: 80px;
    padding: 50 0 60 0;
    margin-bottom: 70px;
  }
  
  
  .set-8 {
    list-style-type: none;
    padding: 0 10;
    margin-left: 30px;
    margin-right: 20px;
    justify-content: space-around;
  }
  
  .quote {
    font-size: 20px;
    font-family: serif;
  }
  
  .List-1 {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding-right: 10px;
    padding-left: 30px;
    margin-right: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgb(216, 216, 216);
  }
  
  .WA {
    border-style: solid;
    border-radius: 120px;
    background-color: rgb(45, 45, 45);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-color: rgb(45, 45, 45);
  }
  
  .line {
    color: rgb(214, 214, 214);
  }
  
  .sentence-6 {
    color: rgb(55, 55, 208);
    margin-bottom: 30px;
    margin-top: 20px;
  }

  
  .set-99 {
    margin-left: 12px;
    padding-left: 15px;
    justify-content: space-around;
  }
  
  .image-set-1 {
    border-style: solid;
    border-width: 4px;
    border-color: yellowgreen;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .bestseller {
    background-color: rgb(223, 223, 138);
    border: none;
    color: rgb(75, 74, 74);
    padding: 5 10;
    margin-bottom: 100px;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .images {
    padding-left: 0px;
    justify-content: space-around;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 10px;
  }
  
  .set-10 {
    margin-top: 60px;
    margin-bottom: 200px;
    background-color: rgba(218, 218, 225, 0.156);
    padding-top: 50px;
    padding-left: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .set-11 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0px;
  }
  
  h4 {
    font-size: 24px;
    color: rgb(43, 43, 43);
    padding-top: 0;
  }
  
  .learners {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 18px;
  }
  
  .sentence-7 {
    color: rgb(55, 55, 208);
  }
  
  .explore-more-topics {
    padding: 12 20;
    border-width: 1px;
    margin-left: 2%;
    background-color: rgb(255, 255, 255);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(43, 43, 43);
    margin-bottom: 90px;
  }
  
  main {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    justify-content: center;
  }
  
  .content-left-1 {
    justify-items: left;
    background-color: white;
    border-width: 1px;
    margin: 400 100 0 320;
  }
  
  .h1-2 {
    padding-left: 0px;
    margin-left: 0px;
  }
  
  .list-4 {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    margin-left: 15px;
    padding-left: 15px;
    font-size: 25px;
    color: rgb(54, 54, 54);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .content-right-1 {
    justify-items: right;
    text-align: left;
    border-width: 1px;
    margin-top: 300px;
    margin-right: 250px;
  }
  
  .set-12 {
    background-color: rgb(32, 32, 32);
    margin-top: 650px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
  }
  
  .set-13 {
    background-color: rgb(32, 32, 32);
    color: white;
    justify-content: space-between;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-left: 0px;
    font-size: 18px;
    padding-right: 400px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .english {
    margin-top: 10px;
    justify-items: right;
    background-color: rgb(32, 32, 32);
    border-color: white;
    border-width: 1px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .image-2 {
    padding-left: 30px;
    color: white;
    padding-right: 90px;
    margin-right: 20px;
    background-color: rgb(32, 32, 32);
  }

  
  .set-14 {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  