
* {
    margin: 0px; 
    padding-top: 2px;
    padding-bottom: 2.8px;
}


header {
    height: 75px; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    list-style-type: none;
    width: 100%;
}


ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 0px; 
    text-decoration: none; 
    color: black;
    display: inline-block;
    font-size: 17px;
    font-family: sans-serif;
}

.search {
    border-style:solid;
    border-radius: 100px;
    padding-right: 300px;
    border-width: 1px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 50px;
    background-color:rgb(246, 246, 246);
}

.log-in {
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    background-color: white;
    border-width: 1px;
    color: rgb(47, 47, 47);
}

.sign-up {
    padding-top: 15px;
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 15px;
    color: white;
    background-color: rgb(56, 56, 56);
    border-style: none;
}

.globe {
    border-style: solid;
    border-width: 1px;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.udemy-1 {
    width: 100%;
}
   
.set {
    background-color: rgb(243, 243, 243);
    margin-top: 10px;
    margin-bottom: 50px;
}

.sentence-1 {
    padding-top: 75px;
    padding-left: 350px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(108, 108, 108);
    font-size: 24px;
    margin-bottom: 25px;
}

.content-left {
    list-style-type: none;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 60px;
}

h1 {
    font-size: 47px;
    padding-left: 30px;
    color: rgb(51, 51, 51);
}

.set-4 {
    font-size: 20px;
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sentence-2 {
    color: rgb(63, 63, 63);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.content-left2 {
    list-style-type: none;
    justify-content: space-around;
    padding-right: 500px;
    padding-left: 2px;
    padding-top: 10px;
}

.location {
    color: rgb(110, 110, 110);
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.location-1 {
    color: rgb(48, 48, 48);
    font-size: 18px;
    padding-left: 0px;
    margin-left: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    font-size: 30px;
    color: rgb(51, 51, 51);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.set-5 {
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
    padding-left: 40px;
    border-color: rgb(216, 216, 216);
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.sentence-3 {
    font-size: 20px;
    padding-top: 10px;
    padding-right: 320px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

.Explore-python {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-width: 1px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(43, 43, 43);
    margin-bottom: 35px;
}
        
.set-6 {
    padding: 0px;
    list-style-type: none;
    justify-content: space-around;
    margin-left: 230px;
    margin-bottom: 40px;
}

.bestseller{
    background-color: rgb(223, 223, 138);
    border: none;
    font-size: 15px;
    margin-top: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sentence-4 {
    font-size: 20px;
    padding-top: 1px;
}

.sentence-5 {
    font-size: 20px;
    padding-top: 7px;
}

.name {
    font-size: 15px;
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ratings {
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: white;
    font-size: 18px;
    padding-left: 0px;
}

.rate {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border: none;
    background-color: white;
    font-size: 17px;
    padding-left: 0px;
    color: gray;
}

h3 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 25px;
    color: rgb(39, 39, 39);
    padding-bottom: 25px;
}

.set-7 {
    background-color: rgb(243, 243, 243);
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 70px;
}

.set-8 {
    list-style-type: none;
    padding-left: 30px;
    margin-left: 0px;
    justify-content: space-around;
}

.qoute {
    font-size: 50px;
    padding-top: 30px;
    font-family: serif;
}

.List-1 {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding-right: 20px;
    padding-left: 30px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgb(216, 216, 216);
}

.List-2 {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding-right: 10px;
    padding-left: 20px;
    margin-right: 10px;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgb(216, 216, 216);
}

.List-3 {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgb(216, 216, 216);
}

.WA {
    border-style: solid;
    margin-top: 20px;
    border-radius: 120px;
    background-color: rgb(45, 45, 45);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10PX;
    padding-right: 10PX;
    color: white;
    border-color: rgb(45, 45, 45);
}

.line {
    color: rgb(214, 214, 214);
}

.sentence-6 {
    color: rgb(55, 55, 208);
    margin-bottom: 30px;
    margin-top: 20px;
}

.set-9 {
    margin-right: 30px;
    margin-left: 0px;
    padding-left: 0px;
    align-content: center;
    justify-content: space-around;
}

.set-99 {
    margin-right: 10px;
    margin-left: 30px;
    padding-left: 30px;
    justify-content: space-around;
}

.images {
    padding-left: 0px;
    justify-content: space-around;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.set-10 {
    margin-top: 30px;
    background-color:  rgb(243, 243, 243);
    padding-top: 70px;
    padding-left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.set-11 {
    justify-content: space-around;
    padding-left: 0px;
    margin-right: 300px;
}

h4 {
    font-size: 22px;
    color: rgb(43, 43, 43);
}

.learners {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 18px;
}

.sentence-7 {
    color: rgb(55, 55, 208);
}


.explore-more-topics {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-width: 1px;
    margin-left: 2%;
    background-color: rgb(245, 245, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(43, 43, 43);
    margin-bottom: 35px;
}

main {
    display: flex; 
    align-items: center; 
    justify-content:center;
} 

.content-left1 {
    justify-items:left; 
    padding-right: 340px;
    border-style: solid;
    background-color: white;
    border-width: 1px;
    margin-left: 550px;

}